@charset "utf-8";

button {
  box-shadow: rgb(var(--bs-primary-rgb)) 0 0;
  line-height: 0;
  padding: 12px;
  transition: none;
}

li {
  align-self: center;
}

.navbar-toggler-icon-size {
  height: 1rem;
  width: 1rem;
}

.pulse {
  box-shadow: 0 0 0 max(10vh, 10vw) transparent;
  transition: box-shadow 1s;
}

.sticky-block {
  top: unset;
}

#navbarNavDropdown {
  flex-grow: unset;
}

@media (min-width: 992px) {
  .sticky-block {
    top: 0;
  }
}